<html>
	<p><center><h1>Sobre</h1></center></p>
	<hr size="50">
	<p><center>Este sistema é parte fundamental do projeto para a disciplina de Bancos de Dados Avançados 2016/2. Seu objetivo é gerar recomendacões para formacão de equipes para competições de programação. A formação das equipes se baseia no modelo adotado na ACM International  Collegiate Programming Contest (ACM-ICPC). Os dados utilizados durante o projeto sao provenientes do site <a href="http://www.codeforces.com" target="_blank">Codeforces</a>, um dos sites mais utilizados por competidores do ACM-ICPC.</center></p>
</html>